body {
    padding: 10px;
}

/* Style for index.html */
.auction_container {
    margin: 20px; 
    padding: 10px; 
    display: flex; 
    align-items: center; 
    width: 80%; 
    box-sizing: border-box;
}

.auction_content {
    margin-right: 20px; 
    height: 400px; 
    width: 450px;
}